<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://kit.fontawesome.com/4d2f058691.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue todolist</title>
</head>
<body>
  <div id="app">
    <p id="cool"><b>Type in what to do!</b></p>
    <input v-model="newTodo" type="text" placeholder="Write your to-do...">
    <button v-on:click="addTodo" class="add-button"><i class="fa-solid fa-file-circle-plus"></i></button>

    <div class="todo-container">
      <p v-show="showDoneMessage" class="completed-tasks">You've completed all your tasks.</p>
      <img src="good-clipart-well-done-3.png" alt="Congratulations image" v-show="showDoneMessage" class="congrats-image">
        <div v-for="(todo, index) in listTodo" :key="index" class="todo-item">
            <span v-if="index !== editingIndex"> {{ index + 1 }}. {{ todo }}  </span>
            <button v-show="index !== editingIndex" v-on:click="editTodo(index)" class="edit-button"><i class="fa-solid fa-pen-to-square"></i></button>
            <button v-show="index !== editingIndex" v-on:click="deleteTodo(index)" @click="changeBackgroundColor" class="del-button"><i class="fa-solid fa-trash"></i></button>
            <button v-show="index !== editingIndex" v-on:click="markDone(index)" class="done-button"><i class="fa-regular fa-square-check"></i></button>
            <button v-show="index === editingIndex" v-on:click="saveEdit(index)" class="save-button"><i class="fa-regular fa-square-check"></i></button>
            <input v-if="index === editingIndex" v-model="editedTodo" type="text" placeholder="edit todo">
        </div>

        <div>
          <h2 v-show="listDone.length > 0">Completed Tasks</h2>
          <div v-for="(done, index) in listDone" :key="index" class="todo-item">
            <span> {{ done }} (Completed) </span>
            <button v-on:click="moveToTodo(index)" class="undone-button"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
            <button v-on:click="deleteDone(index)" class="del-button2"><i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
</div>

<script src="./public/main.js"></script>
</body>
</html>
