<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue todolist</title>
</head>
<body>
  <div id="app">
    <input v-model="newTodo" type="text" placeholder="write todo">
    <button v-on:click="addTodo" class="add-button">Add</button>

        <div v-for="(todo, index) in listTodo" :key="index" class="todo-item">
          <div class="text-container">
            <span v-if="index !== editingIndex"> {{ index + 1 }}. {{ todo }}
            </span>
            <input v-if="index === editingIndex" v-model="editedTodo" type="text" placeholder="edit todo">
          </div>
            <div class="btn-div">
            <button v-on:click="markDone(index)" class="done-button">Done</button>
            <button v-show="index !== editingIndex" v-on:click="editTodo(index)" class="edit-button">Edit</button>
            <button v-show="index !== editingIndex" v-on:click="deleteTodo(index)" class="del-button">Delete</button>
            <button v-show="index === editingIndex" v-on:click="saveEdit(index)" class="save-button">Save</button>
          </div>
          </div>
<h2>Completed Tasks</h2>
        <div v-for="(done, index) in listDone" :key="index"> {{ done }} (Completed)
          <button v-on:click="moveToTodo(index)" class="undone-button">Undone</button>
          <button v-on:click="deleteDone(index)" class="del-button">Delete</button>
        </div>
  </div>
<script src="./public/main.js"></script>
</body>
</html>
